@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Jua&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sign-up{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.name-inputs{
    display: flex;
    align-items: space-between;
    gap: 50px;
}

#email, #password{
    width: 100%;
}

h1{
    text-align: center;
    font-family: 'Jua', sans-serif;
    font-size: 40px;
}
form{
    margin-bottom: 40px;
}

.signUp-btn{

    padding: 15px 25px;
    background-color: #A78BFA;
    border-radius: 10px;
    font-size: 20px;
    font-family: "Gugi", sans-serif;
    font-weight: 400;
}

input{
    width: 450px;

    border-radius: 5px;
    padding: 10px;

}

.to-signIn{
    margin-top: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4da8f7;
    font-weight: bold;
    text-decoration: underline;
}


